*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #dbdbdb;
}

@media (max-width: 600px){

    body{
        margin: 20px;
        border: 7px solid black;
        border-radius: 20px;

    }

    header{
        background-color: #ffffff;
        border-radius: 20px 20px 0 0;
        border-bottom: 1px solid rgb(214, 212, 212);
    }

    nav{
        padding: 8px;
        display: flex;
        justify-content: space-between;
    }

    .nav__user{
        font-size: 12px;
    }

    .nav__menu{
        font-size: 15px;
        width: 15%;
        display: flex;
        justify-content: space-around;
    }

    main{
        background-color: #ffffff;
        border-radius: 0 0 20px 20px;
    }

    hr{
        background-color: #f3f0f0;
        height: 1px;
    }

    .profile{
        display: flex;
        flex-wrap: wrap;
        padding: 15px 10px;
    }

    .profile__info{
        width: 30%;
    }

    .picture{
        width: 70px;
        height: 70px;
        background-color: #e6e6e6;
        border-radius: 50%;
        border: 3px solid purple;
    }

    .username{
        margin-top: 10px;
        font-weight: 800;
    }

    .profile_type{
        color: #b3b3b3;
    }

    .profile__stats{
        display: flex;
        width: 65%;
        justify-content: flex-end;
    }

    .stat{
        margin: 15px;
        text-align: center;
    }

    .stat__number{
        margin-bottom: 3px;
        font-weight: 800;
        /* font-style: bold; */
    }

    .stat__value{
        color: #9b9b9b;
    }

    .controls{
        padding: 5px;
        display: grid;
        grid-template-columns: 9fr 1fr;
    }

    .controls__edit{
        font-size: 12px;
        border: 2px solid #d7d7d7;
        text-align: center;
        margin: 0 20px;
    }

    .controls__drop{
        font-size: 12px;
        border: 2px solid #d7d7d7;
        text-align: center;
        margin: 0 8px;
    }

    .gallery__tabs{
        padding: 10px 0;
        display: flex;
        justify-content: space-around;
    }

    .tab{
        width: 15%;
        text-align: center;
        padding-bottom: 3px;
    }

    .selected_tab{
        border-bottom: 1px solid gray;
    }

    .gallery__grid{
        padding: 0 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .grid_element{
        width: 170px;
        height: 170px;
        background-color: #9b9b9b;
        margin-bottom: 2px;
    }

    .menu{
        display: flex;
        padding: 20px;
        justify-content: space-around;
    }
}

